.buildpath
.DS_Store
.idea
.vagrant
.project
.settings/
.*.sw*
.*.un~
build/
nbproject

composer.lock

src/data/
!src/data
src/data/**
!src/data/readme.txt

# Local configuration files #
src/config/*.local.**
src/config/*.local.php
src/config/*.local.conf.php
src/config/*/*.local.**
src/config/*/*.local.php
src/config/*/*.local.conf.php

# modules
src/core/*
!src/core/readme.txt

# Default Vendor Libraries (not composer) #
vendor/**
!vendor/*.txt
!vendor/*.php
vendor/autoload.php
