.buildpath
.DS_Store
.idea
.vagrant
.project
.settings/
.*.sw*
.*.un~
build/
nbproject

.env.local.php

src/data/
!src/data
src/data/**
!src/data/readme.txt

# Local configuration files #
config/*.local.**
config/*.local.php
config/*.local.conf.php
config/*/*.local.**
config/*/*.local.php
config/*/*.local.conf.php

# modules
src/core/*
!src/core/readme.txt

# Default Vendor Libraries (not composer) #
vendor/**
!vendor/*.txt
!vendor/*.php
vendor/autoload.php
