<?php
return [
    /**
     * @see \Poirot\Application\Sapi\SapiAppBuilder::build
     */

    'modules' =>
        /**
         * this list used by Module Manager To Load Modules
         * @see \Poirot\Application\ModuleManager\AbstractModuleManager::loadModule
         */
        [
            // Enabled Application Module(s)
            'Foundation',

            # instance direct load module
            ## 'Application' => new Module()
        ],

    // extra options

    'db' => [
        'driver'         => 'Pdo',
        'driver_options' => [
            PDO::MYSQL_ATTR_INIT_COMMAND => 'SET NAMES \'UTF8\''
        ],
    ],
];
